.person-card {
    width: 250px;
    aspect-ratio: 362/485;
    perspective: 1000px;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    transition: transform 0.1s ease-out;
    text-align: center;
    color: white;
}

.person-card:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

.media{
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    img{
        width: 20px;
        object-fit: contain;
        margin: 10px 10px 10px 0px;
    }
}

.person{
    color: white;
    max-width: 250px;
    p{
        text-align: left;
        font-size: 16px;
    }
}