.egg {
    position: absolute;
    width: 90px;
    background-color: rgba(159, 86, 253, 0.7);
    aspect-ratio: 3.2/4;
    border-radius: 100% / 130% 130% 65% 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border: white 1px solid;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
}
